body {
	text-align: center;
	margin:auto;
	margin-top:50px;
	width:1000px;
/********* 整体居中 **************/
}

#header
{
	width:1000px;
	
}

#logo
{
	width:1000px;
	height:100px;
	background: url("../images/logo.png");
}

#body 
{
	width:800px;
	margin:auto;
	font-family:Tahoma, Verdana, STHeiTi, simsun, sans-serif;
}

a{
	text-decoration:none;   /**** 去掉下划线 *****/  
}

#navigation {
     height:1.2em;
     border-bottom: solid 1px;
/******* 导航下划线 *************/
}

.nav-ul {
    background:black;
   	list-style:none;   /**** 去掉黑点 *****/  
	padding:0 0 0 100px;     
}

.nav-item{
	border-right:solid 1px ;
	float:left;
	padding:0 10px ;
}

.nav-item a{
	text-decoration:none;   /**** 去掉下划线 *****/  
}

#navigation a:hover
{
	background:pink;
}

.clear{	
    	clear:both; /* Normal clearing for IE5.x/Win */ 
}

#content-left
{	
	width:500px;
	float:left;
	padding-top:0;
	text-align:left;
}


#content-right
{
	float:right;
	width:230px;
	margin-right:50px;
	text-align:left;

}

#articles-list
{
	border-left:dotted 1.2px;
}

#articl-head-height 
{
	height: 60px;
}



code {
  font: 80% Monaco, 'Courier New', Courier, monospace;
  width:600px;
}

pre {
  border: 1px solid #ddd;
  margin: 1em 2em 1em 1.5em;
  padding: .75em 1.25em;
  line-height: 1em;
}

