
body {
	text-align: center;
	margin:auto;
	margin-top:50px;
	width:1000px;
/********* 整体居中 **************/
}

#header
{
	width:1000px;
	
}

#logo
{
	width:1000px;
	height:100px;
	background: url("../images/logo.png");
}

#body 
{
	width:800px;
	margin:auto;
}

a{
	text-decoration:none;   /**** 去掉下划线 *****/  
}

#navigation {
     height:1.2em;
     border-bottom: solid 1px;
/******* 导航下划线 *************/
}

.nav-ul {
    background:black;
   	list-style:none;   /**** 去掉黑点 *****/  
	padding:0 0 0 100px;     
}

.nav-item{
	border-right:solid 1px ;
	float:left;
	padding:0 10px ;
}

.nav-item a{
	text-decoration:none;   /**** 去掉下划线 *****/  
}

#navigation a:hover
{
	background:pink;
}

.clear {
	clear:both;
}

#content-left
{	
	width:500px;
	float:left;
	padding-top:100px;
	text-align:left;
}


#content-right
{
	float:right;
	width:200px;
	margin-right:50px;

}

#articles-list
{
	border-left:dotted 1.2px;
}

#articl-head-height 
{
	height: 60px;
}



code {
  font: 80% Monaco, 'Courier New', Courier, monospace;
  width:600px;
}

pre {
  border: 1px solid #ddd;
  margin: 1em 2em 1em 1.5em;
  padding: .75em 1.25em;
  line-height: 1em;
}

# from markdown
h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 16px;
    padding: 0;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
    margin: 20px 0 6px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    text-decoration: none;
    color: #ff6600;
}
a:visited {
    color: purple;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li {
    line-height: 24px;
    margin-left: 44px;
}
li ul, li ul {
    margin-left: 24px;
}
