---
title: About
---

{% include header.in  %}

<style type="text/css">

	p{
		padding-left:30px;
	}
</style>

<div id="body">
	<div id="content" style="text-align:left">
		<h2 > About PrintHello:</h2>
		<p >
			 自从K&R使用了 "Hello World"的例程后，程序员的第一步通常都是从"Hello World"开始，而笔者则喜欢在学习新东西时用
			打印"Hello"，因此便有了"Print Hello"。
		</p>
		<p> 
			PrintHello是笔者给自己博客取的名字，记录自己在学习时，对某个知识的总结和对计算机科学的认识。一些零散的笔记并不包含在内，
			 可以移步<a href="http://www.cnblogs.com/gotaly/"> cnblogs</a> 
		</p>
		<p>
			"Begin with simple , Become strong later!",从最基础的开始学习，慢慢积累，逐渐成长。
		</p>
		<h2> About Me: </h2>
		<p> 在校学生，上很少课，一直在学习计算机知识。
		</p>
		<h2> Follow Me </h2>
		<p> Mail: gotawork@163.com  &nbsp;&nbsp;&nbsp;&nbsp;
		Github:<a href="http://github.com/gota-git">gota-git</a> &nbsp;&nbsp;&nbsp;&nbsp;
		豆瓣: <a href="http://book.douban.com/people/60118749/">gotaly </a>&nbsp;&nbsp;&nbsp;&nbsp;
		<p>
		cnblogs:<a href="http://www.cnblogs.com/gotaly/"> gotaly</a>&nbsp;&nbsp;&nbsp; &nbsp;
		 微博:<a href="http://weibo.com/gbeibao">gbeibao </a></p>
		</p>
	
	</div> <!-- end of content-->
</div> <!-- end of body -->

{% include footer.in  %}
