{% include header.in  %}
<div id="body">
	<div id="content">
		<div id="content-left">
			{{  content  }}	
		</div><!-- end of content-left -->

		<div id="content-right">
			<div id="articl-head-height">
			</div>
			<div id="articles-list">			
				<h3> 最新文章 </h3>
				<ul>
					{% for post in site.posts limit:25  %}
						<li><a href={{ post.url  }} > {{ post.title  }}	</a> </li>
					{% endfor  %}
				</ul>
			</div><!-- end of articles-list -->
	    		<div class="clear"> </div>
		</div><!-- end of content-right -->
	</div><!-- end of content -->

	<div class="clear"> </div>
</div> <!-- end of body  -->
{% include footer.in  %}


